<% provide(:title, 'Contact') %>
<h1>Contacts</h1>
<hr>
<p><a href="http://www.facebook.com/abhijeetd10/">Facebook</a></p>
<p><a href="http://www.twitter.com/abhijeetd10/">Twitter</a></p>
<p><a href="http://www.instagram.com/abhijeetd10/">Instagram</a></p>
